h1{
    margin-top: 0;
    margin-bottom: 0;
}
.copy{
    margin-top: 0;
}
.special{
    color: #660000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    margin: 1em 0px;
    
}
.blue{
    color: blue;
    font-family: Verdana,Arial,Helvetica,sans-serif;

}
.black{
    color: black;
    font-family: Verdana,Arial,Helvetica,sans-serif; 
    font-weight: bold;
}
.puzzle{
    border-collapse: collapse;
    border: 1.3px solid black;
}
.puzzle td{
    border: 1.3px solid black;
}
.puzzle-2{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.head{
    position: relative;
    top:40px;
    left: 500px;
}
.puzzle-3{
    position: relative;
    left: 25px;
    border-collapse: collapse;
    border:2px solid black;
}
.stuck{
    position: relative;
    left: 500px;
}
.last{
    margin-left: 0;
    padding-left: 0;
}